.Com {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
}

.atrib {
  color: rgb(36, 32, 32);
  font-family: 'Molengo', Georgia, Times, serif;
}

.deleteButton:hover {
  background-color:grey;
}

.deleteButton {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add {
  margin-left: 20px;
  width: 80px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.add:hover {
  background-color:grey;
}

.Id{
  width: 10%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 12px 12px 12px;
  transition: width 0.4s ease-in-out;
  margin-bottom: 20px;
}

.Id:focus {
  width: calc(30% + 40px - 100px);
}

.Item {
  float: left;
  width: calc(50% - 81px);
  margin:15px;
  border-color: grey;
  border-radius: 4px;
  border-style: solid;
  background-color: rgb(246, 246, 246);
  height: 50px;
  padding: 20px;
}
