<h1>User {{onebus.name}}</h1>

<div class="User">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">

  <a class="atrib">id: {{onebus.id}}</a>
  <br>
    <a class="atrib">Name: {{onebus.name}}</a>
    <br>
    <a class="atrib">Surname: {{onebus.surname}}</a>
    <br>
  <a class="atrib">Age: {{onebus.age}}</a>
  <br>
    <!-- <div *ngIf="onebus.paid; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><a class="atrib">Paid</a></ng-template>
        <ng-template #elseBlock><a class="atrib">Don't paid</a></ng-template>
     -->

  <button class="deleteButton" (click)="DeleteB()">Delete</button>
</div>
<br>
<h2>Install Company</h2>
<input type="text" class="AppId" name="search" placeholder="Enter company id" [(ngModel)]="comid">
<button class="addApp" type="submit"  (click)="addComforBus(onebus.id, comid)">Set</button>



<br>
<h2>
  Компании:</h2>
<div class="UsersAppsList">
    <div class="AppItem" *ngFor="let i of Company">

      <label class="userNameLabel" style="font-size: 28px"> {{i}} </label>
      <br>


    </div>
</div>

